{% extends "template.html" %} {% load static %} {% load i18n %} {% load trans_tag %} {% block head %}

<title>"Baskotii | Area"</title>
{% endblock %} {% block content %}
<!-- The small order section -->
<section id="section-order">
  <!-- Order Container -->
  <div class="container">
    <div class="container__logo" style="display: none">
      <img
        class="content-center__logo"
        src="{% static 'img/logo-light.png' %}"
        alt="logo"
      />
      <div class="content-center__text">
        <h1 class="content-center__name">{% trans 'Baskotii' %}</h1>
        <p class="content-center__desc">{% trans 'Emarati Biscuits' %}</p>
      </div>
    </div>

    <!-- Search input -->
    <div class="container__search">
      <input type="text" id="search" placeholder="search" />
      <a id="refferer" href="{% url 'core:index' %}">{%trans "Cancel"%}</a>
    </div>

    <!-- Main List -->
    <ul class="container__area-list">
      <!-- Big Area Item
                    <li class="container__area-list-item">

                        <button onclick="myFunction2()" class="container__area-list-item-dropdown">Dropdown <i class="fas fa-chevron-down"></i></button>
                        <div id="myDropdown" class="container__area-list-item-dropdown-content">
                            <p class="container__area-list-item-dropdown-content-item">Area 1</p>
                            <p class="container__area-list-item-dropdown-content-item">Area 2</p>
                            <p class="container__area-list-item-dropdown-content-item">Area 3</p>
                        </div>
                    </li> -->
    </ul>
  </div>
</section>
{% endblock %} {% block javascript %}
<script>
  function myFunction2(event) {
    let eee =
      event.target.tagName === "I"
        ? event.target.parentElement.parentElement
        : event.target.parentElement;
    eee.querySelector("#myDropdown").classList.toggle("show");
  }
  // Secret Function Don't touch It
  // let y = (name)=> {let data ='[';name.querySelectorAll("li").forEach((value)=>(data+=`"${value.innerText}",`));data+=']';let newele=document.createElement("textarea");document.body.appendChild(newele);;newele.value = data;newele.select();document.execCommand("copy");document.body.removeChild(newele);}

  let parent = document.querySelector(".container__area-list");
  let search = document.querySelector("#search");
  let original = {
    "{% trans 'Dubai' %}": [
      "{%trans 'Abu Hail' %}",
      "{% trans 'Academic City' %}",
      "{% trans 'Al Awir' %}",
    "{% trans 'Al Ba`daa' %}",
    "{% trans 'Al Baraha' %}",
    "{% trans 'Al Barari' %}",
    "{% trans 'Al Barsha 1' %}",
    "{% trans 'Al Barsha 2' %}",
    "{% trans 'Al Barsha 3' %}",
    "{% trans 'Al Barsha South' %}",
    "{% trans 'Al Dhagaya' %}",
    "{% trans 'Al Furjan' %}",
    "{% trans 'Al Garhoud' %}",
    "{% trans 'Al Hamriya' %}",
    "{% trans 'Al Hudaiba' %}",
    "{% trans 'Al Jaddaf' %}",
    "{% trans 'Al Jaffiliya' %}",
    "{% trans 'Al Karama' %}",
    "{% trans 'Al Khabaisi' %}",
    "{% trans 'Al Khawaneej 1' %}",
    "{% trans 'Al Khawaneej 2' %}",
    "{% trans 'Al Mamzar' %}",
    "{% trans 'Al Manara' %}",
    "{% trans 'Al Mankhool' %}",
    "{% trans 'Al Mina' %}",
    "{% trans 'Al Mizhar 1' %}",
    "{% trans 'Al Mizhar 2' %}",
    "{% trans 'Al Muraqqabat' %}",
    "{% trans 'Al Murar' %}",
    "{% trans 'Al Mushrif' %}",
    "{% trans 'Al Muteena' %}",
    "{% trans 'Al Nahda 1' %}",
    "{% trans 'Al Nahda 2' %}",
    "{% trans 'Al Quoz 1' %}",
    "{% trans 'Al Quoz 2' %}",
    "{% trans 'Al Quoz 3' %}",
    "{% trans 'Al Quoz 4' %}",
    "{% trans 'Al Quoz Industrial Area 1' %}",
    "{% trans 'Al Quoz Industrial Area 2' %}",
    "{% trans 'Al Quoz Industrial Area 3' %}",
    "{% trans 'Al Quoz Industrial Area 4' %}",
    "{% trans 'Al Qusais 1' %}",
    "{% trans 'Al Qusais 2' %}",
    "{% trans 'Al Qusais 3' %}",
    "{% trans 'Al Qusais Industrial Area 1' %}",
    "{% trans 'Al Qusais Industrial Area 2' %}",
    "{% trans 'Al Qusais Industrial Area 3' %}",
    "{% trans 'Al Qusais Industrial Area 4' %}",
    "{% trans 'Al Qusais Industrial Area 5' %}",
    "{% trans 'Al Raffa' %}",
    "{% trans 'Al Ras' %}",
    "{% trans 'Al Rashidiya' %}",
    "{% trans 'Al Rigga' %}",
    "{% trans 'Al Sabkha' %}",
    "{% trans 'Al Safa' %}",
    "{% trans 'Al Safa 2' %}",
    "{% trans 'Al Satwa' %}",
    "{% trans 'Al Shindagha' %}",
    "{% trans 'Al Souq Al Kabeer' %}",
    "{% trans 'Al Sufouh 1' %}",
    "{% trans 'Al Sufouh 2' %}",
    "{% trans 'Al Twar 1' %}",
    "{% trans 'Al Twar 2' %}",
    "{% trans 'Al Twar 3' %}",
    "{% trans 'Al Waheda' %}",
    "{% trans 'Al Warqa 1' %}",
    "{% trans 'Al Warqa 2' %}",
    "{% trans 'Al Warqa 3' %}",
    "{% trans 'Al Warqa 4' %}",
    "{% trans 'Al Warqa 5' %}",
    "{% trans 'Al Wasl' %}",
    "{% trans 'Arabian Ranches' %}",
    "{% trans 'Arabian Ranches 2' %}",
    "{% trans 'Arjan' %}",
    "{% trans 'Barsha Heights - TECOM' %}",
    "{% trans 'Bukadra' %}",
    "{% trans 'Business Bay' %}",
    "{% trans 'Corniche Deira' %}",
    "{% trans 'DIFC' %}",
    "{% trans 'Discovery Gardens' %}",
    "{% trans 'Downtown Burj Khalifa' %}",
    "{% trans 'Downtown Jabel Ali' %}",
    "{% trans 'Dubai Airport Freezone' %}",
    "{% trans 'Dubai Cargo Village' %}",
    "{% trans 'Dubai Design District' %}",
    "{% trans 'Dubai Falcon City' %}",
    "{% trans 'Dubai Festival City' %}",
    "{% trans 'Dubai Healthcare City' %}",
    "{% trans 'Dubai International Airport' %}",
    "{% trans 'Dubai Internet City - DIC' %}",
    "{% trans 'Dubai Investments Park 1' %}",
    "{% trans 'Dubai Investments Park 2' %}",
    "{% trans 'Dubai Lifestyle City' %}",
    "{% trans 'Dubai Marina' %}",
    "{% trans 'Dubai Maritime City' %}",
    "{% trans 'Dubai Media City' %}",
    "{% trans 'Dubai Motor City' %}",
    "{% trans 'Dubai Silicon Oasis' %}",
    "{% trans 'Dubai Sports City' %}",
    "{% trans 'Dubai Studio City' %}",
    "{% trans 'Dubai Techno Park' %}",
    "{% trans 'Dubai World Central - DWC' %}",
    "{% trans 'Dubai World Trade Center - DWTC' %}",
    "{% trans 'Emirates Hills' %}",
    "{% trans 'Gardens' %}",
    "{% trans 'Global Village' %}",
    "{% trans 'Green Community Motor City' %}",
    "{% trans 'Hor Al Anz' %}",
    "{% trans 'Hor Al Anz East' %}",
    "{% trans 'Ibn Batutta Mall' %}",
    "{% trans 'IMPZ' %}",
    "{% trans 'International City' %}",
    "{% trans 'International City 2' %}",
    "{% trans 'Jebel Ali 1' %}",
    "{% trans 'Jebel Ali 2' %}",
    "{% trans 'Jebel Ali Freezone' %}",
    "{% trans 'Jebel Ali Freezone Extension' %}",
    "{% trans 'Jebel Ali Industrial Area' %}",
    "{% trans 'Jumeirah 1' %}",
    "{% trans 'Jumeirah 2' %}",
    "{% trans 'Jumeirah 3' %}",
    "{% trans 'Jumeirah Beach Residence - JBR' %}",
    "{% trans 'Jumeirah Golf Estates' %}",
    "{% trans 'Jumeirah Heights' %}",
    "{% trans 'Jumeirah Islands' %}",
    "{% trans 'Jumeirah Lakes Towers - JLT' %}",
    "{% trans 'Jumeirah Park' %}",
    "{% trans 'Jumeirah Village Circle - JVC' %}",
    "{% trans 'Jumeirah Village Triangle - JVT' %}",
    "{% trans 'Knowledge Village' %}",
    "{% trans 'Layan Community' %}",
    "{% trans 'Legends' %}",
    "{% trans 'Liwan' %}",
    "{% trans 'Majan' %}",
    "{% trans 'MBR- Al Merkad' %}",
    "{% trans 'Meadows' %}",
    "{% trans 'Meydan South' %}",
    "{% trans 'Mira Community' %}",
    "{% trans 'Mirdif' %}",
    "{% trans 'Mudon' %}",
    "{% trans 'Muhaisnah 1' %}",
    "{% trans 'Muhaisnah 2' %}",
    "{% trans 'Muhaisnah 3' %}",
    "{% trans 'Muhaisnah 4' %}",
    "{% trans 'Nad Al Sheba 1' %}",
    "{% trans 'Nad Al Sheba 2' %}",
    "{% trans 'Nad Al Sheba 3' %}",
    "{% trans 'Nad Al Sheba 4' %}",
    "{% trans 'Nadd Al Hamar' %}",
    "{% trans 'Nadd Al Shamma' %}",
    "{% trans 'Naif' %}",
    "{% trans 'Oud Al Muteena' %}",
    "{% trans 'Oud Metha' %}",
    "{% trans 'Port Rashid' %}",
    "{% trans 'Port Saeed' %}",
    "{% trans 'Ras Al Khor' %}",
    "{% trans 'Ras Al Khor Indsutrial Area 1' %}",
    "{% trans 'Ras Al Khor Indsutrial Area 2' %}",
    "{% trans 'Ras Al Khor Indsutrial Area 3' %}",
    "{% trans 'Remraam' %}",
    "{% trans 'Rigga Al Buteen' %}",
    "{% trans 'Springs' %}",
    "{% trans 'The Greens' %}",
    "{% trans 'The Lakes' %}",
    "{% trans 'The Palm Deira' %}",
    "{% trans 'The Palm Jebel Ali' %}",
    "{% trans 'The Palm Jumeirah' %}",
    "{% trans 'The Skycourts' %}",
    "{% trans 'The Sustainable City' %}",
    "{% trans 'The Villa' %}",
    "{% trans 'Um Al Sheif' %}",
    "{% trans 'Umm Hurair 1' %}",
    "{% trans 'Umm Hurair 2' %}",
    "{% trans 'Umm Ramool' %}",
    "{% trans 'Umm Suqeim 1' %}",
    "{% trans 'Umm Suqeim 2' %}",
    "{% trans 'Umm Suqeim 3' %}",
    "{% trans 'Wadi Alamardi' %}",
    "{% trans 'Warsan 1' %}",
    "{% trans 'Warsan 2' %}",
    "{% trans 'Waterfront' %}",
    "{% trans 'Za`abeel 1' %}",
    "{% trans 'Za`abeel 2' %}"],
    "{% trans 'Abu Dhabi' %}": 
    ["{% trans 'Abu Dhabi Gate City' %}",
    "{% trans 'Abu Dhabi Hills' %}",
    "{% trans 'Al Adla ' %}",
    "{% trans 'Al Aman' %}",
    "{% trans 'Al Bahya' %}",
    "{% trans 'Al Bandar (Al Raha)' %}",
    "{% trans 'Al Dafrah' %}",
    "{% trans 'Al Etihad' %}",
    "{% trans 'Al Falah City' %}",
    "{% trans 'Al Forsan Village (Khalifa- A)' %}",
    "{% trans 'Al Gurum Resort' %}",
    "{% trans 'Al Hosn' %}",
    "{% trans 'Al Karamah' %}",
    "{% trans 'Al Khalidiyah' %}",
    "{% trans 'Al Khubeirah' %}",
    "{% trans 'Al Mafraq' %}",
    "{% trans 'Al Manhal' %}",
    "{% trans 'Al Maqta' %}",
    "{% trans 'Al Markaziyah' %}",
    "{% trans 'Al Markaziyah West' %}",
    "{% trans 'Al Maryah Island' %}",
    "{% trans 'Al Mina' %}",
    "{% trans 'Al Muneera (Al Raha)' %}",
    "{% trans 'Al Muntazah' %}",
    "{% trans 'Al Musalla' %}",
    "{% trans 'Al Mushrif' %}",
    "{% trans 'Al Muzoon' %}",
    "{% trans 'Al Nahyan' %}",
    "{% trans 'Al Raha' %}",
    "{% trans 'Al Rahba' %}",
    "{% trans 'Al Ras Al Akhdar' %}",
    "{% trans 'Al Rayyana (Khalifa- A)' %}",
    "{% trans 'Al Reef' %}",
    "{% trans 'Al Rowdah' %}",
    "{% trans 'Al Ruwais (Western Region)' %}",
    "{% trans 'Al Safarrat' %}",
    "{% trans 'Al Samha' %}",
    "{% trans 'Al Shamkha' %}",
    "{% trans 'Al Shamkha South' %}",
    "{% trans 'Al Shawamekh' %}",
    "{% trans 'Al Wahdah' %}",
    "{% trans 'Al Wathba ' %}",
    "{% trans 'Al Zaab' %}",
    "{% trans 'Al Zafranah' %}",
    "{% trans 'Al Zahraa' %}",
    "{% trans 'Al Zeina (Al Raha)' %}",
    "{% trans 'Bain Al Jesrain' %}",
    "{% trans 'Bani Yas' %}",
    "{% trans 'BreakWater' %}",
    "{% trans 'Capital Centre' %}",
    "{% trans 'Dhow Harbour (Al Mina)' %}",
    "{% trans 'Golf Gardens (Khalifa- A)' %}",
    "{% trans 'Hydra Village (Shahama)' %}",
    "{% trans 'Khor Al Bateen' %}",
    "{% trans 'Madinat Khalifa - A' %}",
    "{% trans 'Madinat Khalifa - B' %}",
    "{% trans 'Madinat Khalifa - C' %}",
    "{% trans 'Madinat Zayed' %}",
    "{% trans 'Masdar City' %}",
    "{% trans 'Mohammed Bin Zayed City' %}",
    "{% trans 'Mussafah Industrial city' %}",
    "{% trans 'Mussafah South' %}",
    "{% trans 'New Shahama' %}",
    "{% trans 'Old Bahya' %}",
    "{% trans 'Port Zayed (Al Mina)' %}",
    "{% trans 'Qasr El Bahr' %}",
    "{% trans 'Qasr El Shatie' %}",
    "{% trans 'Reem Island' %}",
    "{% trans 'Saadiyat Island' %}",
    "{% trans 'Sas Al Nakheel (Khalifa- A)' %}",
    "{% trans 'Sas Al Nakhl Island' %}",
    "{% trans 'Shahama' %}",
    "{% trans 'Shakhbout City' %}",
    "{% trans 'Tourist Club Area (Al Zahiya)' %}",
    "{% trans 'Western Region (Madinat Zayed)' %}",
    "{% trans 'Yas Island' %}",
    "{% trans 'Zayed Sports City' %}"],
    "{% trans 'Sharjah' %}": ["{% trans 'Abu Shagara' %}",
 "{% trans 'Al  Muntazah' %}",
 "{% trans 'Al Abar' %}",
 "{% trans 'Al Atain' %}",
 "{% trans 'Al Azra' %}",
 "{% trans 'Al Bataeh' %}",
 "{% trans 'Al Bdai`a Subrub' %}",
 "{% trans 'Al Darari' %}",
 "{% trans 'Al Dhaid' %}",
 "{% trans 'Al Elyash' %}",
 "{% trans 'Al Falah Suburb' %}",
 "{% trans 'Al Falaj' %}",
 "{% trans 'Al Fayha' %}",
 "{% trans 'Al Fisht' %}",
 "{% trans 'Al Ghaphia' %}",
 "{% trans 'Al Gharayen' %}",
 "{% trans 'Al Ghubaiba' %}",
 "{% trans 'Al Ghuwair' %}",
 "{% trans 'Al Goaz' %}",
 "{% trans 'Al Hazana' %}",
 "{% trans 'Al Homaa' %}",
 "{% trans 'Al Jazzat' %}",
 "{% trans 'Al Jubail' %}",
 "{% trans 'Al Juraina' %}",
 "{% trans 'Al Khaledia Suburb' %}",
 "{% trans 'Al Khan' %}",
 "{% trans 'Al Khezamia' %}",
 "{% trans 'Al Layyah' %}",
 "{% trans 'Al Mahatta' %}",
 "{% trans 'Al Majaz 1' %}",
 "{% trans 'Al Majaz 2' %}",
 "{% trans 'Al Majaz 3' %}",
 "{% trans 'Al Mamzar' %}",
 "{% trans 'Al Manakh' %}",
 "{% trans 'Al Manazel' %}",
 "{% trans 'Al Mansura' %}",
 "{% trans 'Al Mareija' %}",
 "{% trans 'Al Mirgab' %}",
 "{% trans 'Al Mujarah' %}",
 "{% trans 'Al Musalla' %}",
 "{% trans 'Al Nabba' %}",
 "{% trans 'Al Nad' %}",
 "{% trans 'Al Nahda' %}",
 "{% trans 'Al Nasserya' %}",
 "{% trans 'Al Nekhailat' %}",
 "{% trans 'Al Noof' %}",
 "{% trans 'Al Qadisia' %}",
 "{% trans 'Al Qasimia' %}",
 "{% trans 'Al Qulayaa' %}",
 "{% trans 'Al Rahmania' %}",
 "{% trans 'Al Ramaqia' %}",
 "{% trans 'Al Ramla East' %}",
 "{% trans 'Al Ramla West' %}",
 "{% trans 'Al Ramtha' %}",
 "{% trans 'Al Rifah' %}",
 "{% trans 'Al Riffa' %}",
 "{% trans 'Al Sabkha' %}",
 "{% trans 'Al Seef' %}",
 "{% trans 'Al Seyouh' %}",
 "{% trans 'Al Shahba' %}",
 "{% trans 'Al Shuwaihen' %}",
 "{% trans 'Al Soor' %}",
 "{% trans 'Al Sweihat' %}",
 "{% trans 'Al Taawun' %}",
 "{% trans 'Al Talaa' %}",
 "{% trans 'Al Tarfa' %}",
 "{% trans 'Al Yarmook' %}",
 "{% trans 'Barashi' %}",
 "{% trans 'Bu Danig' %}",
 "{% trans 'Bu Tina' %}",
 "{% trans 'Dasman' %}",
 "{% trans 'Industrial Area 1' %}",
 "{% trans 'Industrial Area 10' %}",
 "{% trans 'Industrial Area 11' %}",
 "{% trans 'Industrial Area 12' %}",
 "{% trans 'Industrial Area 13' %}",
 "{% trans 'Industrial Area 15' %}",
 "{% trans 'Industrial Area 17' %}",
 "{% trans 'Industrial Area 18' %}",
 "{% trans 'Industrial Area 2' %}",
 "{% trans 'Industrial Area 3' %}",
 "{% trans 'Industrial Area 4' %}",
 "{% trans 'Industrial Area 5' %}",
 "{% trans 'Industrial Area 6' %}",
 "{% trans 'Industrial Area 7' %}",
 "{% trans 'Industrial Area 8' %}",
 "{% trans 'Industrial Area 9' %}",
 "{% trans 'Kalba' %}",
 "{% trans 'Khor Fakkan' %}",
 "{% trans 'Maysaloon' %}",
 "{% trans 'Muwafjah' %}",
 "{% trans 'Muwaileh Commercial' %}",
 "{% trans 'Muzairah' %}",
 "{% trans 'Rolla' %}",
 "{% trans 'Saif Zone' %}",
 "{% trans 'Samnan' %}",
 "{% trans 'Sharqan' %}",
 "{% trans 'Um Altaraffa' %}",
 "{% trans 'University of Sharjah' %}"],
 "{% trans 'Ajman' %}": ["{% trans 'Ajman City Center' %}",
 "{% trans 'Ajman Corniche' %}",
 "{% trans 'Ajman Free Zone' %}",
 "{% trans 'Ajman Industrial Area 1 ' %}",
 "{% trans 'Ajman Industrial Area 2 ' %}",
 "{% trans 'Ajman Pearl' %}",
 "{% trans 'Ajman University' %}",
 "{% trans 'Al Alia' %}",
 "{% trans 'Al Amerah' %}",
 "{% trans 'Al Bahia' %}",
 "{% trans 'Al Bustan' %}",
 "{% trans 'Al Butain' %}",
 "{% trans 'Al Hamidiya' %}",
 "{% trans 'Al Hamidiya 1' %}",
 "{% trans 'Al Hamidiya 2' %}",
 "{% trans 'Al Helio' %}",
 "{% trans 'Al Heliow 1' %}",
 "{% trans 'Al Heliow 2' %}",
 "{% trans 'Al Jurf 1' %}",
 "{% trans 'Al Jurf 2' %}",
 "{% trans 'Al Jurf Industrial Area 1' %}",
 "{% trans 'Al Jurf Industrial Area 2' %}",
 "{% trans 'Al Jurf Industrial Area 3' %}",
 "{% trans 'Al Muntazi 1' %}",
 "{% trans 'Al Muntazi 2' %}",
 "{% trans 'Al Mushairef' %}",
 "{% trans 'Al Mwaihat 1' %}",
 "{% trans 'Al Mwaihat 2' %}",
 "{% trans 'Al Mwaihat 3' %}",
 "{% trans 'Al Nakhil' %}",
 "{% trans 'Al Nakhil 1' %}",
 "{% trans 'Al Nakhil 2' %}",
 "{% trans 'Al Nuaimia 1' %}",
 "{% trans 'Al Nuaimia 2' %}",
 "{% trans 'Al Raqaib 1' %}",
 "{% trans 'Al Raqaib 2' %}",
 "{% trans 'Al Rashidiya 1' %}",
 "{% trans 'Al Rashidiya 2' %}",
 "{% trans 'Al Rashidiya 3' %}",
 "{% trans 'Al Rawda 1 Al Zahraa' %}",
 "{% trans 'Al Rawda 2 Al Zahraa' %}",
 "{% trans 'Al Rawda 3 Al Zahraa' %}",
 "{% trans 'Al Rumailah' %}",
 "{% trans 'Al Tallah 1' %}",
 "{% trans 'Al Tallah 2' %}",
 "{% trans 'Al Yasmeen' %}",
 "{% trans 'Al Zahra' %}",
 "{% trans 'Al Zahya' %}",
 "{% trans 'Al Zawarah' %}",
 "{% trans 'Al Zora' %}",
 "{% trans 'Emirates City' %}",
 "{% trans 'Emirates City Extension' %}",
 "{% trans 'Garden City' %}",
 "{% trans 'Ittihad Village' %}",
 "{% trans 'Masfout' %}"],
 "{% trans 'Al Ain' %}": ["{% trans 'Al Agabiyya' %}",
 "{% trans 'Al Ain International Airport' %}",
 "{% trans 'Al Ain Mall' %}",
 "{% trans 'Al Ain Oasis Villas' %}",
 "{% trans 'Al Ain Zoo' %}",
 "{% trans 'Al Ameriya' %}",
 "{% trans 'Al Bateen' %}",
 "{% trans 'Al Dhahir' %}",
 "{% trans 'Al Foaa' %}",
 "{% trans 'Al Hili' %}",
 "{% trans 'Al Jahili' %}",
 "{% trans 'Al Jimi' %}",
 "{% trans 'Al Khabisi' %}",
 "{% trans 'Al Kuwaitat' %}",
 "{% trans 'Al Maqam' %}",
 "{% trans 'Al Marakhaniya' %}",
 "{% trans 'Al Masoudi' %}",
 "{% trans 'Al Murabaa' %}",
 "{% trans 'Al Muraijeb' %}",
 "{% trans 'Al Mutarad' %}",
 "{% trans 'Al Mutawaa' %}",
 "{% trans 'Al Muwaiji' %}",
 "{% trans 'Al Nabagh' %}",
 "{% trans 'Al Neyadat' %}",
 "{% trans 'Al Qattara' %}",
 "{% trans 'Al Salamat District' %}",
 "{% trans 'Al Sarooj' %}",
 "{% trans 'Al Shabiya' %}",
 "{% trans 'Al Towayya' %}",
 "{% trans 'Al Yahar' %}",
 "{% trans 'Alain Al Fiyada' %}",
 "{% trans 'Asharej' %}",
 "{% trans 'Bedda Bn Ammar' %}",
 "{% trans 'Falaj Hazzaa' %}",
 "{% trans 'Industrial Area' %}",
 "{% trans 'Manazaf' %}",
 "{% trans 'Mezyed' %}",
 "{% trans 'Mubzara' %}",
 "{% trans 'Neima' %}",
 "{% trans 'Tawam' %}",
 "{% trans 'UAE University 1' %}",
 "{% trans 'UAE University 2' %}",
 "{% trans 'Um Ghaffa' %}",
 "{% trans 'Zakher' %}"],
 "{% trans 'Fujairah' %}": ["{% trans 'Al Aqah' %}",
 "{% trans 'Al Bedia ' %}",
 "{% trans 'Al Buthna ' %}",
 "{% trans 'Al Farfar' %}",
 "{% trans 'Al Faseel' %}",
 "{% trans 'Al Gurfa' %}",
 "{% trans 'Al Hala ' %}",
 "{% trans 'Al Haray' %}",
 "{% trans 'Al Heel ' %}",
 "{% trans 'Al Ittihad' %}",
 "{% trans 'Al Mahatta' %}",
 "{% trans 'Al Owaid' %}",
 "{% trans 'Al Qurayya' %}",
 "{% trans 'Al Taween' %}",
 "{% trans 'Albeledah' %}",
 "{% trans 'Anajaimat' %}",
 "{% trans 'Awhala ' %}",
 "{% trans 'Dedna' %}",
 "{% trans 'Dibba' %}",
 "{% trans 'Dibba Al Hosn' %}",
 "{% trans 'Dibba Industrial Area' %}",
 "{% trans 'Fujairah Free Trade Zone' %}",
 "{% trans 'Fujairah Intl Airport' %}",
 "{% trans 'Fujairah Port' %}",
 "{% trans 'Halefaath' %}",
 "{% trans 'Industrial Area' %}",
 "{% trans 'Karsha' %}",
 "{% trans 'Madhab' %}",
 "{% trans 'Masafi' %}",
 "{% trans 'Merashid' %}",
 "{% trans 'Mirbah' %}",
 "{% trans 'Old Fujairah City' %}",
 "{% trans 'Qidfa' %}",
 "{% trans 'Rughaylat' %}",
 "{% trans 'Rumailah' %}",
 "{% trans 'Sakamkam' %}",
 "{% trans 'Sharm ' %}",
 "{% trans 'Suwayfah' %}",
 "{% trans 'Zubara' %}"],
    "{% trans 'Ras Al Khaima' %}": ["{% trans 'Al Darbijaniyah' %}",
 "{% trans 'Al Dhait North' %}",
 "{% trans 'Al Dhait South' %}",
 "{% trans 'Al Duhaisah' %}",
 "{% trans 'Al Ghubb' %}",
 "{% trans 'Al Hamra Free Zone' %}",
 "{% trans 'Al Hamra Industrial Area' %}",
 "{% trans 'Al Hamra Island' %}",
 "{% trans 'Al Hamra Village' %}",
 "{% trans 'Al Hudaibah' %}",
 "{% trans 'Al Jazeerah Al Hamra' %}",
 "{% trans 'Al Jesser Area' %}",
 "{% trans 'Al Juwais Area' %}",
 "{% trans 'Al Kharran' %}",
 "{% trans 'Al Mairid' %}",
 "{% trans 'Al Marjan Island' %}",
 "{% trans 'Al Mataf' %}",
 "{% trans 'Al Nadiyah' %}",
 "{% trans 'Al Nakheel Area' %}",
 "{% trans 'Al Nudood' %}",
 "{% trans 'Al Qurm' %}",
 "{% trans 'Al Qusaidat' %}",
 "{% trans 'Al Ragibah' %}",
 "{% trans 'Al Sall' %}",
 "{% trans 'Al Seer' %}",
 "{% trans 'Al Soor' %}",
 "{% trans 'Al Turfah' %}",
 "{% trans 'Al Uraibi' %}",
 "{% trans 'Al Zahra' %}",
 "{% trans 'Burairaat' %}",
 "{% trans 'Dafan Al Khor' %}",
 "{% trans 'Dafan Al Nakheel' %}",
 "{% trans 'Dahan' %}",
 "{% trans 'Digdagga' %}",
 "{% trans 'Ghalilah' %}",
 "{% trans 'Hamrania' %}",
 "{% trans 'Khatt' %}",
 "{% trans 'Khazam' %}",
 "{% trans 'Liwa Badr' %}",
 "{% trans 'Mamoora' %}",
 "{% trans 'Mina Al arab' %}",
 "{% trans 'RAK City' %}",
 "{% trans 'Rams' %}",
 "{% trans 'Ras Al Selaab Area' %}",
 "{% trans 'Refa`ah' %}",
 "{% trans 'Seih Al Ghubb' %}",
 "{% trans 'Seih Al Hudaibah' %}",
 "{% trans 'Seih Al Qusaidat' %}",
 "{% trans 'Seih Al Uraibi' %}",
 "{% trans 'Seih Shihyar' %}",
 "{% trans 'Shamal Haqueel' %}",
 "{% trans 'Shamal Julphar' %}",
 "{% trans 'Shareesha' %}",
 "{% trans 'Sidroh' %}",
 "{% trans 'Suhaim Area' %}",
 "{% trans 'Wadi Ammar' %}"],
    "{% trans 'Umm Al-Quwain' %}": ["{% trans 'Al Aahad' %}",
 "{% trans 'Al Abrab' %}",
 "{% trans 'Al Dar Al Baidah' %}",
 "{% trans 'Al Haditha' %}",
 "{% trans 'Al Hawiyah' %}",
 "{% trans 'Al Humrah - A' %}",
 "{% trans 'Al Humrah - B' %}",
 "{% trans 'Al Humrah - C' %}",
 "{% trans 'Al Humrah - D' %}",
 "{% trans 'Al Khor' %}",
 "{% trans 'Al Limgadhar' %}",
 "{% trans 'Al Maidan' %}",
 "{% trans 'Al Raas - A' %}",
 "{% trans 'Al Raas - B' %}",
 "{% trans 'Al Raas - C' %}",
 "{% trans 'Al Ramlah' %}",
 "{% trans 'Al Raudah' %}",
 "{% trans 'Al Riqqah' %}",
 "{% trans 'Al Salamah - A' %}",
 "{% trans 'Al Salamah - B' %}",
 "{% trans 'Al Salamah - C' %}",
 "{% trans 'Defence Camp' %}",
 "{% trans 'Green Belt' %}",
 "{% trans 'Industrial Area' %}",
 "{% trans 'Old Town Area' %}",
 "{% trans 'Umm Al Quwain Marina' %}"],
  };
  let rates = {
    "{% trans 'Dubai' %}": 35,
    "{% trans 'Abu Dhabi' %}": 50,
    "{% trans 'Sharjah' %}": 35,
    "{% trans 'Ajman' %}": 35,
    "{% trans 'Al Ain' %}": 50,
    "{% trans 'Fujairah' %}": 50,
    "{% trans 'Ras Al Khaima' %}": 50,
    "{% trans 'Umm Al-Quwain' %}": 50,
  };

  search.addEventListener("input", () => {
    let query = search.value;
    if (query.length === 0) {
      render(original);
    } else {
      let search = {};
      Object.entries(original).forEach((value) => {
        if (value[0].toLowerCase().startsWith(query.toLowerCase())) {
          search[value[0]] = value[1];
        } else {
          let newarr = [];
          value[1].forEach((val) => {
            if (val.toLowerCase().startsWith(query.toLowerCase())) {
              newarr.push(val);
            }
          });
          if (newarr.length > 0) {
            search[value[0]] = newarr;
          }
        }
      });
      render(search);
    }
  });

  let render = (data) => {
    parent.innerHTML = "";
    Object.entries(data).forEach((value) => {
      let newele = document.createElement("li");
      let newbut = document.createElement("button");
      newbut.onclick = myFunction2;

      newele.classList = ["container__area-list-item"];
      newbut.classList = ["container__area-list-item-dropdown"];

      newbut.innerHTML = `${value[0]} <i class="fas fa-chevron-down"></i>`;
      newele.appendChild(newbut);

      let newdiv = document.createElement("div");
      newdiv.classList = ["container__area-list-item-dropdown-content"];
      newdiv.id = "myDropdown";

      value[1].forEach((val) => {
        let newp = document.createElement("p");
        newp.style.cursor = "pointer";
        newp.classList = ["container__area-list-item-dropdown-content-item"];
        newp.innerHTML = val;
        newdiv.appendChild(newp);
      });

      newele.appendChild(newdiv);
      parent.appendChild(newele);
    });

    document
      .querySelectorAll(".container__area-list-item-dropdown-content-item")
      .forEach((element) => {
        element.addEventListener("click", () => {
          let area = element.textContent;
          let country =
            element.parentElement.parentElement.firstChild.textContent;
          country = country.slice(0, country.length - 1);
          let shipping = rates[country];
          ST.edit_property("area", area);
          ST.edit_property("country", country);
          ST.edit_property("shipping", shipping);
          document.querySelector("#refferer").click();
        });
      });
  };

  render(original);
  document
    .querySelector("#refferer")
    .setAttribute(
      "href",
      document.referrer ? document.referrer : '{% url "core:index" %}'
    );
</script>
{% endblock %}
