{% extends "template.html" %} {% load static %} {% load i18n %} {% load trans_tag %} {% block head %}
<title>Baskotii | Home</title>
{% endblock %} {% block content %}

<!-- The small order section -->
<section id="section-order">
  <!-- Order Container -->
  <div class="container">
    <div class="container__logo" style="display: none">
      <img
        class="content-center__logo"
        src="{% static 'img/logo-light.png' %}"
        alt="logo"
      />
      <div class="content-center__text">
        <h1 class="content-center__name">{% trans "Baskotii" %}</h1>
        <p class="content-center__desc">{% trans 'Emarati Biscuits' %}</p>
      </div>
    </div>

    <!-- Choose Location -->
    <div class="container__area">
      <h2>{% trans "Area" %}</h2>
      <a href="{% url 'core:select_area' %}">{% trans "Choose Area" %} 
        {%if LANGUAGE_CODE == 'ar' %}
        <i class="fas fa-angle-left"></i></i>
        {%else%}
        <i class="fas fa-angle-right"></i></i>
        {% endif %}
      </a>
    </div>

    <!-- Search input
                <div class="container__search">
                    <a href="{% url 'core:search' %}"><input type="text" placeholder="search"></a>
                </div> -->

    <!-- Products list -->
    <ul class="container__list">
      {% for item in qs %}
      <a href="{% url 'core:product' item.pk %}">
        <li class="container__list-item">
          <img src="{{ item.image.url }}" alt="Poruduct" />
          <h2>{{ item.name|template_trans }}</h2>
        </li>
      </a>
      {% endfor %}
    </ul>

    <a class="container__btn" href="{% url 'core:order' %}">
      <span class="left" style="float: left"></span>
      {% trans "Review Order" %}
      <span class="right" style="float: right"></span>
    </a>
  </div>
</section>
{% endblock %} {% block javascript %}

<script>
  let btn = document.querySelector(".container__btn");
  if (ST.eligible_for_order()) {
    document.querySelector(".left").innerHTML = ST.get_quantites();
    document.querySelector(".right").innerHTML = `AED ${ST.get_total()}`;
  } else {
    btn.style.display = "none";
  }
</script>

{% endblock %}
